/* Main CSS script */
 .square {
    border: 1px dotted rgba(0, 0, 0, 0.25);
    margin: 0;
    display: block;
    position: absolute;
    font-size: 2em;
    text-align: center;
    line-height: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.square:hover {
    border-color: #408000;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
.square.selected {
    background-color: #d7ffd5;
}
body, html {
    width: 100%;
}
/*====*/

/* Left will inherit from right (so we don't need to duplicate code */
 .github-fork-ribbon {
    /* The right and left lasses determine the side we attach our banner to */
    position: absolute;
    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: 2px 0;
    /* Set the base colour */
    background-color: #a00;
    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#000000');
    /* Add a drop shadow */
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    pointer-events: auto;
}
.github-fork-ribbon a, .github-fork-ribbon a:hover {
    /* Set the font */
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
    /* Set the text properties */
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
    width: 200px;
    line-height: 20px;
    /* Set the layout properties */
    display: inline-block;
    padding: 2px 0;
    /* Add "stitching" effect */
    border-width: 1px 0;
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.7);
}
.github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    pointer-events: none;
}
.github-fork-ribbon-wrapper.fixed {
    position: fixed;
}
.github-fork-ribbon-wrapper.right {
    right: 0;
}
.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    top: 42px;
    right: -43px;
    /* Rotate the banner 45 degrees */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*=====*/

/* generic styles for button & circular menu */
 .ctrl {
    font: 1.5em/1.13 Verdana, sans-serif;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}
/* generic link styles */
 a.ctrl, .ctrl div {
    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .80;
    background: #c9353b;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
a.ctrl:hover, .ctrl div:hover, a.ctrl:focus {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
a.ctrl:focus {
    outline: none;
}
.open-close-button {
    position: absolute;
    top:30px;
    left:30px;
    width: 2em;
    height: 2em;
    border: 0.1em solid #f4d6d7;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.open-close-button:before {
    content:"";
    display: block;
    position: absolute;
    background-color: #f4d6d7;
    width: 80%;
    height: 6%;
    left: 10%;
    top: 47%;
}
.open-close-button:after {
    content:"";
    display: block;
    position: absolute;
    background-color: #f4d6d7;
    width: 6%;
    height: 80%;
    left: 47%;
    top: 10%;
}
.open-close-button:focus {
    background-color: #f4d6d7;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.open-close-button:focus:after {
    background-color: #c9353b;
}
.open-close-button:focus:before {
    background-color: #c9353b;
}
/* circular menu */
 .tip {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    margin: -5em;
    width: 10em;
    height: 10em;
    -webkit-transform: scale(.001);
    -moz-transform: scale(.001);
    -o-transform: scale(.001);
    -ms-transform: scale(.001);
    transform: scale(.001);
    list-style: none;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
/* the ends of the menu */
 .tip:before, .tip:after {
    position: absolute;
    top: 34.3%;
    width: .5em;
    height: 14%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .80;
    background: #c9353b;
    content:'';
}
.tip:before {
    left: 5.4%;
    border-radius: .25em 0 0 .25em;
    -webkit-box-shadow: -1px 0 1px dimgrey, inset 1px 0 1px white, inset -1px 0 1px grey, inset 0 1px 1px white, inset 0 -1px 1px white;
    box-shadow: -1px 0 1px dimgrey, inset 1px 0 1px white, inset -1px 0 1px grey, inset 0 1px 1px white, inset 0 -1px 1px white;
    -webkit-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -o-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
}
.tip:after {
    right: 5.4%;
    border-radius: 0 .25em .25em 0;
    -webkit-box-shadow: 1px 0 1px dimgrey, inset -1px 0 1px white, inset 1px 0 1px grey, inset 0 1px 1px white, inset 0 -1px 1px white;
    box-shadow: 1px 0 1px dimgrey, inset -1px 0 1px white, inset 1px 0 1px grey, inset 0 1px 1px white, inset 0 -1px 1px white;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
}
/* make the menu appear on click */
 .open-close-button:focus + .tip {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/* slices of the circular menu */
 .slice {
    overflow: hidden;
    position: absolute;
    /**outline:  dotted 1px yellow; /**/
    width: 50%;
    height: 50%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
/*
 * rotate each slice at the right angle = (A/2)° + (k -(n+1)/2)*A°
 * where A is the angle of 1 slice (30° in this case)
 * k is the number of the slice (in  {
  1,2,3,4,5}

 here)
 * and n is the number of slices (5 in this case)
 * formula works for odd number of slices (n odd)
 * for even number of slices (n even) the rotation angle is (k -n/2)*A°
 *
 * after rotating, skew on Y by 90°-A°;
   here A° = the angle for 1 slice = 30°
   */
 .slice:first-child {
    -webkit-transform: rotate(-45deg) skewY(60deg);
    -moz-transform: rotate(-45deg) skewY(60deg);
    -o-transform: rotate(-45deg) skewY(60deg);
    -ms-transform: rotate(-45deg) skewY(60deg);
    transform: rotate(-45deg) skewY(60deg);
}
.slice:nth-child(2) {
    -webkit-transform: rotate(-15deg) skewY(60deg);
    -moz-transform: rotate(-15deg) skewY(60deg);
    -o-transform: rotate(-15deg) skewY(60deg);
    -ms-transform: rotate(-15deg) skewY(60deg);
    transform: rotate(-15deg) skewY(60deg);
}
.slice:nth-child(3) {
    -webkit-transform: rotate(15deg) skewY(60deg);
    -moz-transform: rotate(15deg) skewY(60deg);
    -o-transform: rotate(15deg) skewY(60deg);
    -ms-transform: rotate(15deg) skewY(60deg);
    transform: rotate(15deg) skewY(60deg);
}
.slice:nth-child(4) {
    -webkit-transform: rotate(45deg) skewY(60deg);
    -moz-transform: rotate(45deg) skewY(60deg);
    -o-transform: rotate(45deg) skewY(60deg);
    -ms-transform: rotate(45deg) skewY(60deg);
    transform: rotate(45deg) skewY(60deg);
}
.slice:last-child {
    -webkit-transform: rotate(75deg) skewY(60deg);
    -moz-transform: rotate(75deg) skewY(60deg);
    -o-transform: rotate(75deg) skewY(60deg);
    -ms-transform: rotate(75deg) skewY(60deg);
    transform: rotate(75deg) skewY(60deg);
}
/* covers for the inner part of the links so there's no hover trigger between
star button & menu links;
give them a red background to see them */
 .slice:after {
    position: absolute;
    top: 32%;
    left: 32%;
    width: 136%;
    height: 136%;
    border-radius: 50%;
    /* "unskew" = skew by minus the same angle by which parent was skewed */
    -webkit-transform: skewY(-60deg);
    -moz-transform: skewY(-60deg);
    -o-transform: skewY(-60deg);
    -ms-transform: skewY(-60deg);
    transform: skewY(-60deg);
    content:'';
}
/* menu links */
 .slice div {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px dimgrey, inset 0 0 4px white;
    box-shadow: 0 0 3px dimgrey, inset 0 0 4px white;
    /* "unskew" & rotate by -A°/2 */
    -webkit-transform: skewY(-60deg) rotate(-15deg);
    -moz-transform: skewY(-60deg) rotate(-15deg);
    -o-transform: skewY(-60deg) rotate(-15deg);
    -ms-transform: skewY(-60deg) rotate(-15deg);
    transform: skewY(-60deg) rotate(-15deg);
    background: -webkit-linear-gradient(75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 36.5% 0, -webkit-linear-gradient(-75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 63.5% 0, radial-gradient(rgba(127, 127, 127, 0) 49%, rgba(255, 255, 255, .7) 51%, #c9353b 52%);
    background: -moz-linear-gradient(75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 36.5% 0, -moz-linear-gradient(-75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 63.5% 0, radial-gradient(rgba(127, 127, 127, 0) 49%, rgba(255, 255, 255, .7) 51%, #c9353b 52%);
    background: -o-linear-gradient(75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 36.5% 0, -o-linear-gradient(-75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 63.5% 0, radial-gradient(rgba(127, 127, 127, 0) 49%, rgba(255, 255, 255, .7) 51%, #c9353b 52%);
    background: -ms-linear-gradient(75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 36.5% 0, -ms-linear-gradient(-75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 63.5% 0, radial-gradient(rgba(127, 127, 127, 0) 49%, rgba(255, 255, 255, .7) 51%, #c9353b 52%);
    background: linear-gradient(75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 36.5% 0, linear-gradient(-75deg, transparent 50%, grey 50%, transparent 54%) no-repeat 63.5% 0, radial-gradient(rgba(127, 127, 127, 0) 49%, rgba(255, 255, 255, .7) 51%, #c9353b 52%);
    -webkit-background-size: 15% 15%, 15% 15%, cover;
    -moz-background-size: 15% 15%, 15% 15%, cover;
    background-size: 15% 15%, 15% 15%, cover;
    line-height: 1.4;
}
/* arrow for middle link */
 .slice:nth-child(3) div:after {
    position: absolute;
    top: 13%;
    left: 50%;
    margin: -.25em;
    width: .5em;
    height: .5em;
    -webkit-box-shadow: 2px 2px 2px white;
    box-shadow: 2px 2px 2px white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: -webkit-linear-gradient(-45deg, #c9353b 50%, transparent 50%);
    background: -moz-linear-gradient(-45deg, #c9353b 50%, transparent 50%);
    background: -o-linear-gradient(-45deg, #c9353b 50%, transparent 50%);
    background: -ms-linear-gradient(-45deg, #c9353b 50%, transparent 50%);
    background: linear-gradient(-45deg, #c9353b 50%, transparent 50%);
    content:'';
}
